In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('train_set_label.csv')

In [3]:
df.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,Democrat
1,501,129786,700251,2,5,63,3,0,0,0,Republican
2,658,268343,493411,2,4,44,1,1,0,1,Independent
3,703,290506,-433408,1,1,28,5,1,0,1,Republican
4,702,90108,907135,1,3,57,5,1,1,0,Democrat

In [4]:
#df['new'] = df['Unnamed: 0'] + df['HHI']
df.head()

,Unnamed: 0,HHI,HHDL,Married,CollegGrads,AHHAge,Cars,Filed in 2017,Filed in 2016,Filed in 2015,PoliticalParty
0,61,183414,-12402,1,2,28,1,0,0,1,Democrat
1,501,129786,700251,2,5,63,3,0,0,0,Republican
2,658,268343,493411,2,4,44,1,1,0,1,Independent
3,703,290506,-433408,1,1,28,5,1,0,1,Republican
4,702,90108,907135,1,3,57,5,1,1,0,Democrat

In [5]:
X = df.drop(['Unnamed: 0', 'PoliticalParty'], axis = 1)

In [6]:
y = df['PoliticalParty']
y

0         Democrat
1       Republican
2      Independent
3       Republican
4         Democrat
          ...
798       Democrat
799       Democrat
800       Democrat
801     Republican
802     Republican
Name: PoliticalParty, Length: 803, dtype: object

In [7]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X, y)

DecisionTreeClassifier()

In [8]:
#model.fit(X, y).feature_importances_*100

In [9]:
new_test_data = pd.read_csv('test_set_label.csv')
new_test_data.drop('Unnamed: 0', axis = 1, inplace = True)

In [10]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

In [11]:
rf.fit(X, y)

RandomForestClassifier()

In [12]:
#Prediction = rf.predict(new_test_data)
#Prediction

In [13]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 100)
knn.fit(X, y)

KNeighborsClassifier(n_neighbors=100)

In [14]:
#knn.predict(new_test_data)

In [15]:
from sklearn.linear_model import LogisticRegression
Lr = LogisticRegression()
Lr.fit(X, y)

LogisticRegression()

In [16]:
#Prediction = Lr.predict(new_test_data)
#Prediction

In [17]:
Prediction = model.predict(new_test_data)
Prediction

array(['Republican', 'Independent', 'Democrat', 'Independent', 'Democrat',
       'Republican', 'Independent', 'Republican', 'Democrat',
       'Republican', 'Independent', 'Democrat', 'Republican', 'Democrat',
       'Independent', 'Democrat', 'Republican', 'Independent', 'Democrat',
       'Democrat', 'Democrat', 'Republican', 'Democrat', 'Democrat',
       'Democrat', 'Independent', 'Republican', 'Democrat', 'Independent',
       'Democrat', 'Republican', 'Republican', 'Democrat', 'Democrat',
       'Democrat', 'Independent', 'Independent', 'Democrat',
       'Independent', 'Republican', 'Independent', 'Democrat',
       'Republican', 'Independent', 'Democrat', 'Independent', 'Democrat',
       'Independent', 'Democrat', 'Democrat', 'Republican', 'Democrat',
       'Republican', 'Republican', 'Democrat', 'Democrat', 'Republican',
       'Republican', 'Independent', 'Democrat', 'Republican',
       'Republican', 'Democrat', 'Democrat', 'Republican', 'Democrat',
       'Independent', 'Republican', 'Republican', 'Independent',
       'Republican', 'Independent', 'Independent', 'Independent',
       'Independent', 'Democrat', 'Independent', 'Independent',
       'Democrat', 'Independent', 'Democrat', 'Democrat', 'Democrat',
       'Independent', 'Democrat', 'Independent', 'Republican', 'Democrat',
       'Democrat', 'Independent', 'Republican', 'Independent',
       'Republican', 'Democrat', 'Democrat', 'Democrat', 'Republican',
       'Independent', 'Democrat', 'Republican', 'Republican',
       'Republican', 'Independent', 'Republican', 'Independent',
       'Republican', 'Independent', 'Democrat', 'Independent',
       'Republican', 'Republican', 'Democrat', 'Republican', 'Republican',
       'Independent', 'Democrat', 'Independent', 'Independent',
       'Democrat', 'Independent', 'Independent', 'Independent',
       'Republican', 'Democrat', 'Independent', 'Independent', 'Democrat',
       'Democrat', 'Democrat', 'Democrat', 'Independent', 'Independent',
       'Independent', 'Republican', 'Democrat', 'Republican', 'Democrat',
       'Republican', 'Independent', 'Republican', 'Independent',
       'Democrat', 'Republican', 'Democrat', 'Republican', 'Republican',
       'Democrat', 'Republican', 'Democrat', 'Independent', 'Democrat',
       'Republican', 'Independent', 'Republican', 'Republican',
       'Independent', 'Republican', 'Republican', 'Democrat',
       'Independent', 'Democrat', 'Republican', 'Republican', 'Democrat',
       'Republican', 'Democrat', 'Republican', 'Independent',
       'Independent', 'Independent', 'Independent', 'Democrat',
       'Independent', 'Independent', 'Democrat', 'Democrat', 'Republican',
       'Independent', 'Independent', 'Democrat', 'Republican',
       'Republican', 'Republican', 'Independent', 'Democrat', 'Democrat',
       'Republican', 'Democrat', 'Democrat', 'Independent', 'Independent',
       'Democrat', 'Republican', 'Independent', 'Democrat', 'Republican',
       'Republican', 'Republican', 'Republican', 'Democrat', 'Republican'],
      dtype=object)

In [18]:
res = pd.DataFrame(Prediction)

In [19]:
res.index = new_test_data.index

In [20]:
res.columns = ['prediction']

In [21]:
res.to_csv('prediction.csv', index = False)